@import '~bootstrap/scss/functions'
@import '~bootstrap/scss/variables'
@import '~bootstrap/scss/mixins'

.global-nav
  position: fixed
  left: 0
  top: 0
  bottom: 0
  width: 16vw
  z-index: 100
  padding-top: 8vh

  @include media-breakpoint-down(sm)
    padding-top: 0

  @include media-breakpoint-down(sm)
    position: relative
    top: auto
    left: auto
    bottom: auto
    width: 100%

  .global-nav-list

    a
      font-size: 1.7em
      display: block
      line-height: 1.4
      text-decoration: none
      &:hover, &.active
        opacity: .4

    @include media-breakpoint-down(sm)
      display: none
