@import './../fonts/InterUI/stylesheet.css'

$body-color: black

// Options
$enable-shadows: false
$enable-rounded: false

//Spacing
$spacer: 1rem

// Typography
$font-family-sans-serif: 'Inter UI', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

$font-size-base: 1.2rem

$h1-font-size: $font-size-base * 2.4
$h2-font-size: $font-size-base * 1.9
$h3-font-size: $font-size-base * 1.6
$h4-font-size: $font-size-base * 1.4
$h5-font-size: $font-size-base * 1.2
$h6-font-size: $font-size-base

$line-height-base: 1.34
$headings-line-height: 1.1

//Components
// $border-radius: .7rem
// $border-radius-lg: .9rem
// $border-radius-sm: 1.1rem
$border-color: black

// Cards
$card-spacer-y: $spacer
$card-spacer-x: $spacer
$card-border-color: $border-color

//Navbar
$navbar-padding-y: $spacer * .75
$navbar-padding-x: $spacer * 1.25

$navbar-brand-font-size: $font-size-base

$navbar-toggler-padding-y: .375rem
$navbar-toggler-padding-x: .75rem
$navbar-toggler-font-size: $font-size-base

// Buttons + Forms
$input-btn-padding-y: $spacer * .75
$input-btn-padding-x: $spacer * 1.25
$input-btn-line-height: $line-height-base * .75
$input-btn-font-size: $font-size-base

//List Group
$list-group-border-color: $border-color

@import '~bootstrap/scss/bootstrap'

.global
  &.layout
    margin-top: 58px

.container
  img
    max-width: 100%

.navbar
  border-bottom: 1px solid $border-color
  .navbar-toggler
    line-height: inherit
