@import './../../style/bootstrap-variables'

@import '~bootstrap/scss/functions'
@import '~bootstrap/scss/variables'
@import '~bootstrap/scss/mixins'

.global-studies-card
  color: inherit!important
  overflow: hidden

  @include media-breakpoint-down(xs)
    h5
      font-size: $font-size-base

  .card-header
    min-height: 110px

  img
    display: block
