@import './../../style/bootstrap-variables'

@import '~bootstrap/scss/functions'
@import '~bootstrap/scss/variables'
@import '~bootstrap/scss/mixins'

.global-features
  color: black
  position: relative

  .is-draggable
    border-radius: $border-radius

  @include media-breakpoint-down(sm)
    .is-draggable
      overflow: visible!important

  .prev, .next
    position: absolute
    height: 50px
    width: 50px
    border-radius: 50%
    top: 50%
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    @include media-breakpoint-down(xs)
      display: none
    svg
      height: 40%
      width: 40%
      display: block
      stroke: currentColor
      stroke-width: 1.5

  .prev
    left: 0
    transform: translate3d(-50%, -50%, 0)
  .next
    right: 0
    transform: translate3d(50%, -50%, 0)

  .embla__progress
    position: absolute
    display: none
    bottom: 0
    transform: translate3d(0, 20px, 0)
    background-color: white
    max-width: 270px
    width: calc(100% - 40px)
    height: 4px
    overflow: hidden
    border-radius: 4px

  .embla__progress__bar
    position: absolute
    background-color: #1bcacd
    width: 100%
    top: 0
    bottom: 0
    left: -100%

  .carousel-control-prev, .carousel-control-next
    height: 50px
    width: 50px
    background: black
    opacity: 100%
    border-radius: 50%
    top: 50%

  .carousel-control-prev
    left: 0
    transform: translate3d(-50%, -50%, 0)

  .carousel-control-next
    right: 0
    transform: translate3d(50%, -50%, 0)

  .feature
    position: relative
    min-width: calc(50% + #{$spacer})
    @include media-breakpoint-down(md)
      min-width: 80%
    @include media-breakpoint-down(sm)
      min-width: 90%
    .card
      margin: 0 $spacer
      @include media-breakpoint-down(xs)
        margin: 0 #{$spacer * .5}
      .card-body
        min-height: 180px
        max-width: 80%
        @include media-breakpoint-down(xs)
          min-height: 120px
      .content
        opacity: 0
        transform: translate3d(0, 10px, 0)
        transition: transform 440ms ease, opacity 260ms ease
        transition-delay: 880ms
    &.is-selected
      .card
        .content
          opacity: 1
          transform: translate3d(0, 0, 0)

.light-mode
  @import './../../style/light-mode-variables'
  .prev, .next
    background: darken($body-bg, 12%)
    border-color: darken($body-bg, 12%)
    color: $body-color
  .global-features
    .feature
      &:nth-child(even)
        .card
          color: $body-color
          background: $card-bg!important

.dark-mode
  @import './../../style/dark-mode-variables'
  .prev, .next
    background: lighten($card-bg, 12%)
    border-color: lighten($card-bg, 12%)
    color: $body-color
  .global-features
    .feature
      &:nth-child(even)
        .card
          color: $body-color
          background: $card-bg!important
