@import '~bootstrap/scss/functions'
@import '~bootstrap/scss/variables'
@import '~bootstrap/scss/mixins'

.global-news-card
  color: inherit!important
  text-decoration: none!important
  overflow: hidden
  
  .card-header
    height: 80px

.light-mode
  @import './../../style/light-mode-variables'

.dark-mode
  @import './../../style/dark-mode-variables'
